databases:
  - name: instrumentl-pg
    region: ohio
    databaseName: instrumentl
    user: instrumentl
    plan: starter

services:
  - type: web
    name: instrumentl-api
    region: ohio
    env: ruby
    buildCommand: cd api && bundle install
    startCommand: cd api && bundle exec puma -C config/puma.rb
    healthCheckPath: /
    plan: starter plus
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: instrumentl-pg
          property: connectionString
      - key: RAILS_MASTER_KEY
        sync: false
      - key: RAILS_ENV
        value: production

  - type: web
    name: instrumentl-web
    env: node
    region: ohio
    buildCommand: cd web && yarn && yarn build
    startCommand: cd web && yarn start
    healthCheckPath: /
    plan: starter
    envVars:
      - key: NODE_ENV
        value: production